In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
train = pd.read_excel("https://github.com/lulusAk/Flight_Tickets_Price_Predictions/raw/main/Data_Train.xlsx")
train.head()

In [ ]:
test = pd.read_excel("https://github.com/lulusAk/Flight_Tickets_Price_Predictions/raw/main/Test_set.xlsx")
test.head()

In [15]:
# Deleted column Date_of_Journey from train
train.drop(['Date_of_Journey'], axis=1, inplace=True)

# Deleted column Duration from train
train.drop(['Duration'], axis=1, inplace=True)

# Deleted column Arrival_Time from train
train.drop(['Arrival_Time'], axis=1, inplace=True)

# Changed Price from int64 to float
train['Price'] = train['Price'].astype('float')
train.head()

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,non-stop,No info,3897.0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,2 stops,No info,7662.0
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,2 stops,No info,13882.0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,1 stop,No info,6218.0
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,1 stop,No info,13302.0

In [16]:
train[['Stops','add']] = train['Total_Stops'].str.split(" ",expand=True)
train = train.drop(columns= ['add'])
train['Stops'] = train['Stops'].str.replace("non-stop","0")
train = train.drop(columns= ['Total_Stops'])
train.head()

,Airline,Source,Destination,Route,Dep_Time,Additional_Info,Price,Stops
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,No info,3897.0,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,No info,7662.0,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,No info,13882.0,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,No info,6218.0,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,No info,13302.0,1

In [17]:
# Changed Date_of_Journey from object to datetime
test['Date_of_Journey'] = pd.to_datetime(test['Date_of_Journey'], format='%m/%d/%Y', errors='coerce')

# Deleted column Date_of_Journey from test
test.drop(['Date_of_Journey'], axis=1, inplace=True)

# Deleted column Duration from test
test.drop(['Duration'], axis=1, inplace=True)

# Deleted column Arrival_Time from test
test.drop(['Arrival_Time'], axis=1, inplace=True)
test.head()

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,1 stop,No info
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,1 stop,No info
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,1 stop,In-flight meal not included
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,1 stop,No info
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,non-stop,No info

In [18]:
test[['Stops','add']] = test['Total_Stops'].str.split(" ",expand=True)
test = test.drop(columns= ['add'])
test['Stops'] = test['Stops'].str.replace("non-stop","0")
test = test.drop(columns= ['Total_Stops'])
test.head()

,Airline,Source,Destination,Route,Dep_Time,Additional_Info,Stops
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,No info,1
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,No info,1
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,In-flight meal not included,1
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,No info,1
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,No info,0

## Train Model

In [19]:
from pycaret.regression import *
s = setup(train, target = 'Price')

In [20]:
best = compare_models()

In [21]:
print(best)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=8708, verbose=0, warm_start=False)

In [33]:
# tune model
tuned_best = tune_model(best)

In [35]:
# ensemble model
bagged_best = ensemble_model(best)

In [36]:
predict_model(bagged_best)

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Dep_Time_hour_23,Dep_Time_hour_3,Dep_Time_hour_4,Dep_Time_hour_5,Dep_Time_hour_6,Dep_Time_hour_7,Dep_Time_hour_8,Dep_Time_hour_9,Price,Label
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10577.0,10072.843214
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6206.0,7344.234543
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10919.0,10919.000000
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13759.0,13954.693110
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17234.0,15318.589000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6152.0,8268.903811
3201,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14781.0,14292.856419
3202,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4049.0,4417.449674
3203,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9166.0,12266.948751
3204,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9486.0,9762.281720

In [37]:
predictions = predict_model(bagged_best, data=test)
predictions.head()

,Airline,Source,Destination,Route,Dep_Time,Additional_Info,Stops,Label
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,No info,1,14471.890510
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,No info,1,4242.744774
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,In-flight meal not included,1,10564.031132
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,No info,1,11188.584073
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,No info,0,4892.411104

In [24]:
save_model(best, 'my_best_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='Price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='...
                  RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                        criterion='mse', max_depth=None,
                                        max_features='auto', max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=-1,
                                        oob_score=False, random_state=8708,
                                        verbose=0, warm_start=False)]],
          verbose=False),
 'my_best_pipeline.pkl')

In [25]:
loaded_model = load_model('my_best_pipeline')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True, features_todrop=[],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=[], target='Price',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric_strategy='...
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=None,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=100, n_jobs=-1,
                                       oob_score=False, random_state=8708,
                                       verbose=0, warm_start=False)]],
         verbose=False)

In [26]:
predictions.head()

,Airline,Source,Destination,Route,Dep_Time,Additional_Info,Stops,Label
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,No info,1,14745.712351
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,No info,1,4226.000000
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,In-flight meal not included,1,10637.871365
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,No info,1,11027.850045
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,No info,0,4885.938694

In [38]:
submission_01 = predictions['Label'].astype("int")

In [39]:
submission_0.to_excel("F:\Hackathon\MachineHack\Flight_Ticket_Participant_Datasets\submission_01.xlsx", index=False)